<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Permissions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="userPermissions">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ userPermissions.service_body[0].name }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-button color=" danger" slot="end" ion-button large expand="block" (click)="bmltLogout()">Logout
  </ion-button>
</ion-footer>